root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8

[*.cs]

csharp_new_line_before_open_brace = none
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false
csharp_new_line_before_members_in_object_initializers = false
csharp_new_line_before_members_in_anonymous_types = false
csharp_new_line_between_query_expression_clauses = true

dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false

dotnet_style_null_check_over_type_check = true:suggestion
dotnet_style_coalesce_expression = true:suggestion

dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion

dotnet_naming_rule.interface_should_be_begun_with_i.severity = suggestion
dotnet_naming_rule.interface_should_be_begun_with_i.symbols = any_interface
dotnet_naming_rule.interface_should_be_begun_with_i.style = begun_with_i

dotnet_naming_symbols.any_interface.applicable_kinds = interface
dotnet_naming_style.begun_with_i.required_prefix = I
dotnet_naming_style.begun_with_i.capitalization = pascal_case

[*.{json,yml,yaml,md}]
indent_size = 2
